#fly_search 
{
    background-color:#109EB5;
    float:left;
    width:250px;
}
#fly_search span.error 
{
    margin-top:5px;
    margin-bottom:5px;
    padding-left:5px;
    display:block;
    width:245px;
    background-color:#1D7884;
}
#fly_search label
{
    float:left;
    display:block;
    width:120px;
}
#fly_search input 
{
    display:block;
    width:100px;
}
#fly_search select
{
    display:block;
    width:40px;
}
#fly_search button
{
    float:left;
    display:block;
    margin-left:50px;
    width:150px;
    background-color:#1D7884;
    margin-bottom:5px;
}
#fly_search div 
{
    margin-top:5px;
}
#fly_search_results
{
    margin-top: 5px;
    margin-left: 0px;
    float:left;
}
#fly_search_right_content .main_image 
{
    margin-top: 8px;
    margin-left: 5px;
}
#fly_container 
{
    font-size:0.9em;
    min-height:350px;
}
#fly_container h2 
{
    padding-left:5px;
    background-color:#1D7884;
}
#fly_container p,
#fly_container h3
{
    line-height:1;
    margin:2px;
}
#request_summary 
{
    padding:5px;
    background-color:#109EB5;
}
#fly_search_results .resultheader span,
#fly_search_results .resultfooter span
{
    padding-left:5px;
}
#fly_search_results .resultheader span,
#fly_search_results .resultsrow span,
#fly_search_results .resultfooter span
{
    display:block;
    float:left;
    width:95px;
    height:40px;
}
#fly_search_results .pricerow span
{
    display:block;
    float:left;
    padding-left:5px;
    width:395px;
    height:20px;
    background-color:#1D7884;
    font-weight:bold;
}
#fly_search_results .resultheader .odd,
#fly_search_results .resultsrow .odd
{
    padding-left:5px;
    background-color:#109EB5;
}
#fly_search_results .resultheader .even,
#fly_search_results .resultsrow .even
{
    padding-left:5px;
    background-color:#1D7884;
}
#fly_search_results .total_price 
{
    font-weight:bold;
    display:block;
    float:left;
    width:792px;
    height:20px;
    background-color:#1D7884;
    padding-left:10px;
    margin-bottom:2px;
}
#fly_search_results .separator 
{
    margin-left:2px;
}
#fly_search_results .resultheader,
#fly_search_results .resultsrow
{
    clear:both;
}